.App {
  text-align: center;
}

.SideBar {
  position: absolute;
  right: 0;
  top: 0;
  height: 38vh;
  width: 280px;
  overflow-y: auto;
  font-size: large;
  margin-top: 60px;
  font-weight: bold;
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 23px;
  background: #fff;
}

.SideBar input {
  width: 20%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.Price {
  text-align: start;
  padding-left: 20px;
  display: flex;
}

.SideBar button {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 500;
  background-color: #f7ca00;
  border: 0;
  border-radius: 23px;
  cursor: pointer;
}
